:root{
    --color-brown: #34170f;
    --color-blush: #f2ddd8;
    --color-blue: #0386ab;
    --color-green: #8d9c4b;
    --color-gray: #727e86;
}


*{
    font-family: "Libre Baskerville";
}

body{
    background-color: var(--color-brown);
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    position: relative;
}

.overlay{
    position: absolute;
    left: 1rem;
    top: 3rem;
    max-width: 45%;
    display: flex;
    text-align: center;
}

.hero-text{
    font-size: 1.1em;
    -webkit-text-stroke: 1px var(--color-brown);
    color: var(--color-blush);
}

section{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-blush);
    max-width: 800px;
}










@media(min-width: 600px){
    section{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
@media(min-width: 768px){
    
}