:root{
    --color-brown: #34170f;
    --color-blush: #f2ddd8;
    --color-blue: #0386ab;
    --color-green: #8d9c4b;
    --color-gray: #727e86;
}


*{
    font-family: "Libre Baskerville";
}

body{
    background-color: var(--color-brown);
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    position: relative;
}

.overlay{
    position: absolute;
    left: 1rem;
    top: 3rem;
    max-width: 45%;
    display: flex;
    text-align: center;
}

.hero-text{
    font-size: 1.1em;
    -webkit-text-stroke: 1px var(--color-brown);
    color: var(--color-blush);
}

section{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-blush);
    max-width: 800px;
}

.imageLine{
    visibility: hidden;
    display: flex;
    height: 0;
}

.imageFrame{
    padding: .7rem;
    width: 16.6%;
}

.green{
    background-color: var(--color-green);
}

.gray{
    background-color: var(--color-gray);
}

.imageCarousel {
    background-color: var(--color-gray);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.imageCarousel img{
    width:150px;
}

.box{
    background-color: var(--color-blue);
    color: var(--color-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
    text-align: center;
}

h4{
    font-size: 2rem;
}

h3{
    font-size: 7rem;
    color: var(--color-blush);
    padding: 2rem;
}

.step{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 1rem 0;
}

article{
    color: var(--color-blush);
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

h1{
    font-size: 2rem;
}

.lastImage{
    width: 100%;
    max-width: 400px;
}

.row1, .row2, .row3{
    width: 100%;
    height: 10px;
}

.row1{
    background-color: var(--color-blue);
}

.row2{
    background-color: var(--color-green);
}

.row3{
    background-color: var(--color-gray);
}










@media(min-width: 600px){
    section{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .step{
        flex-direction: row;
        margin: 2rem 0;
    }
    .box{
        width: 75%;
        padding: 3rem 0 1rem 3rem;
        flex-direction: column-reverse;
    }
    .topText{
        margin-top: 1rem;
    }
    h3{
        width: 25%;
        display: flex;
        justify-content: center;
    }
    h4{
        font-size: 5rem;
    }
    .two{
        flex-direction: row-reverse;
    }
}
@media(min-width: 768px){
    .imageLine{
        visibility: visible;
        height: auto;
    }
    .imageCarousel{
        visibility: hidden;
        height: 0;
    }
}
@media(min-width: 992px){
    .imageFrame{
        padding: 1rem;
    }
}